3d_disp_mem/512_mem_FFT/BX.BIN
3d_disp_mem/512_mem_FFT/BY.BIN
3d_disp_mem/512_mem_FFT/BZ.BIN
3d_disp_mem/512_mem_FFT/PHI.BIN
3d_disp_mem/512_mem_FFT/PHI0.BIN
.vscode/settings.json
3d_disp_mem/512_mem_FFT/F_kperp_spec.txt
Code_Analysis/k_perp_3d_spectrum.pyc
3d_disp_mem/Runs/256_test_-2/PHI0.BIN
3d_disp_mem/Runs/256_test_10-2/PHI0.BIN
3d_disp_mem/Runs/256_test_5-2/PHI0.BIN
phi0init/Runs/128_test/PHI0.BIN
3d_disp_mem/Runs/128_2nd_B/BX.BIN
3d_disp_mem/Runs/128_2nd_B/BY.BIN
3d_disp_mem/Runs/128_2nd_B/BZ.BIN
3d_disp_mem/Runs/128_2nd_B/PHI.BIN
3d_disp_mem/Runs/128_2nd_B/PHI0.BIN
3d_disp_mem/Runs/256_2nd_B/BX.BIN
3d_disp_mem/Runs/256_2nd_B/BY.BIN
3d_disp_mem/Runs/256_2nd_B/BZ.BIN
3d_disp_mem/Runs/256_2nd_B/PHI.BIN
3d_disp_mem/Runs/256_2nd_B/PHI0.BIN
