3d_disp_mem/512_mem_FFT/BX.BIN
3d_disp_mem/512_mem_FFT/BY.BIN
3d_disp_mem/512_mem_FFT/BZ.BIN
3d_disp_mem/512_mem_FFT/PHI.BIN
3d_disp_mem/512_mem_FFT/PHI0.BIN
.vscode/settings.json
3d_disp_mem/512_mem_FFT/F_kperp_spec.txt
